<!-- Header -->
<header>
  <!--<div class="container"> -->

    <div class="portfolio-image-headshot-container">

      <div class="portfolio-image-headshot-left">
          <p>Geordie Lass</p>
          <p>Northern VO Artist</p>

          <audio controls>
              <source src="audio/reel.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio>
      </div>

      <img src="img/profile.png" class="portfolio-image-headshot-right" alt="" />
  <!--</div>-->

  <!--
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="img/profile.png" alt="profile-pic" />
        <div class="intro-text">
          <!-- INTRO AUDIO CLIP --
          <span class="name"><audio controls>
            <source src="./audio/1.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
          </audio></span>

          <!-- <span class="name">{{ site.title }}</span> --
          <hr class="star-light" />
          
          <span class="skills">{{ site.title }}</span>
          <!---
          <span class="skills">{{ site.skills }}</span>
          --
        </div>
      </div>
    </div>
  -->
  </div>
</header>
