<div class="floating-panel">
    <h2>Page Progress 19 | +{{ page.id }}+{{ page.progressbar_section }}</h2>

    {% assign items = site.config.progressbar[page.progressbar_section] %}
<ul>
    {% for item in site[progressbar][howitworks] %}
      <li>{{ item }}</li>
    {% endfor %}

</ul>
  <p>OLD BELOW</p>
    <div class="checklist-progressbar">
        <ul>
            {% for thing in site.progressbar.howitworks %}
                  <li>
                      <input type="checkbox" id="{{ thing }}">
                      <label>{{ thing }}</label>
                  </li>
            {% endfor %}
        </ul>
        <div class="progressbar">
            <div class="progressbar-inner"></div>
            <div class="progressbar-value"></div>
        </div>
    </div>
</div>
