{% capture dynamic_key %}progressbar.{{ page.id }}{% endcapture %}
{% assign items = site.data[dynamic_key] %}

<div class="floating-panel">
    <h2>Page Progress 16 | +{{ page.id }}={{ dynamic_key }}=</h2>
  <ul>
{% for item in items %}
  <li>{{ item }}</li>
{% endfor %}

</ul>
  <p>OLD BELOW</p>
    <div class="checklist-progressbar">
        <ul>
            {% for thing in site.progressbar.howitworks %}
                  <li>
                      <input type="checkbox" id="{{ thing }}">
                      <label>{{ thing }}</label>
                  </li>
            {% endfor %}
        </ul>
        <div class="progressbar">
            <div class="progressbar-inner"></div>
            <div class="progressbar-value"></div>
        </div>
    </div>
</div>
